{% extends "base.html" %}
{% block content %}

<div class="alert alert-success">
    {{message}}
</div>  

<h1>{{classification.title}}</h1>

<a class="btn btn-primary" href="{{base_path}}/classification/{{classification.id}}/edit" role="button">Edit</a>
<form method="post" action="{{base_path}}/note/{{classification.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
<a href="{{base_path}}/classification" class="btn btn-success">Back</a>
{% endblock %}