{% extends "base.html" %}
{% block content %}
{% if user_logged_in %}
    <h1>{{user_logged_in.username}}'s classifications</h1>
{% endif %}

  <p>
    <a href="{{base_path}}/classification/new" class="btn btn-success">Add classification</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Title</th>
      </tr>
    </thead>

    <tbody>
    {% for class in classification %}    
      <tr>
        <td><a href="{{base_path}}/classification/{{class.id}}">{{class.title}}</a></td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/classification/{{class.id}}/edit">Edit</a></th>
      </tr>
    </tbody>
    {% endfor %}
  </table>
{% endblock %}
