{% extends "base.html" %}
{% block content %}
  <h2>Classifications</h2>

  <p>
    <a href="/tsoha/suunnitelma/classification/edit" class="btn btn-success">Add a classification</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Classification</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><a href="/tsoha/suunnitelma/classification/show">People</a></td>
        <th><a class="btn btn-default btn-sm" href="/tsoha/suunnitelma/classification/edit">Edit</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}
