{% extends "base.html" %}
{% block content %}
  <h1>Meet up with An</h1>
  <p>
    <button class="btn btn-danger">Delete</button> <a href="#" class="btn btn-danger">Edit</a>
  </p>
  <ul>
    <li><strong> Date:</strong> 30.05.2016</li>
    <li><strong> Time:</strong> 15.00</li>
    <li><strong> Place:</strong> Helsinki, Kumpula</li>
    <li><strong> Status:</strong> <label class="label label-danger">undone</label></li>
    <li><strong> Priority:</strong> &#9733&#9733&#9733&#9733&#9733</li>
    <li><strong> Classification:</strong> People</li>
  </ul>
  <p><strong> Note:</strong> Meet up at physicum </p>
{% endblock %}